*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scrollbar-width: 0;
}
body{
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center center;
}
body::-webkit-scrollbar {
    width: 0px;
    /* height: 8px; */
    background-color: #aaa; /* or add it to the track */
  }

.start-content{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("img/bg2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: default;
}
.start-content .content{
    padding: 60px 85px;
    cursor: default;
}
.start-content .content button{
    padding: 10px 35px;
    background-color: rgb(0, 227, 15);
    font-size: xx-large;
    border: 0;
    transition: 1s;
    cursor: pointer !important;
}
.pubg-bg-music{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}




.game-pubg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /*cursor: crosshair;*/
}
.point{
    width: 100px;
    height: 50px;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
}
.point .p1{
    color: red;
}
.livik{
    width: 100%;
    height: 200px;
    /* background-color: green; */
    position: absolute;
    top: 50%;
    cursor: crosshair !important;
    
}
.livik img{
    width: 120px;
    height: 200px;
    margin: 2px;

}